# Aula 5- strings, dicionarios e listas encadeadas

____
____
____

## 1) Strings

Desde a primeira aula, temos trabalhado com strings, que, como vimos, representam **dados textuais**

Uma string nada mais é do que uma **sequencia de caracteres**!

Assim, podemos acessar caracteres específicos ou então um intervalo de caracteres de uma string, como se fosse uma lista!

**OBS.: Para strings também, o índice começa em 0, e podemos usar índices negativos!**

In [1]:
nome = 'Vinicius'
nome

'Vinicius'

In [4]:
nome[0]

'V'

In [3]:
nome[:4]

'Vini'

In [5]:
nome[-1]

's'

In [6]:
nome[::-1]

'suiciniV'

Para saber o comprimento de uma string (quantos caracteres ela tem, incluindo espaços e pontuações), use a função len():

In [7]:
len(nome)

8

Podemos também percorrer cada caractere da string com o `for` -- strings são objetos **iteráveis**:

In [8]:
for ch in nome:
    print(ch)

V
i
n
i
c
i
u
s

Apesar de se parecer com uma lista, a string não tem exatamente as propriedades de uma lista. Por exemplo, **não podemos alterar** caracteres individualmente:

In [10]:
nome[0] = 'B'

TypeError: 'str' object does not support item assignment

Podemos fazer **operações com strings**. Elas funcionam como nas listas.

Soma de strings: ao somar duas strings, elas são concatenadas:

In [11]:
sobrenome = 'Carmo'
sobrenome

'Carmo'

In [14]:
nome_completo = nome + ' ' + sobrenome
nome_completo

'Vinicius Carmo'

Multiplicação de string por inteiro: ao multiplicar uma string por um número inteiro, a string é repetida:

In [15]:
nome * 3

'ViniciusViniciusVinicius'

__________
__________
__________

## 2) Funções de strings

Como listas, strings também têm algumas funções específicas. Algumas delas são:

.lower(): trasnforma todos os caracteres em minúscula

In [23]:
nome = 'Vinicius'
nome_minusculo = nome.lower()
nome_minusculo

'vinicius'

In [24]:
nome

'Vinicius'

In [37]:
'Vinicius'.lower()

'vinicius'

.split(substring): quebra a string em determinada substring, tendo como resultado uma **lista com os caracteres além da quebra**. Para quebrar nos espaços, use a função ".split()", sem argumento

In [29]:
numeros = '1 2 3 4 5 7'
numeros.split()

['1', '2', '3', '4', '5', '7']

.strip(): Tira espaços que tão sobrando no fim e no início da string

In [36]:
ch = input('Digite a: ')
print(ch)
ch = ch.strip()
print(ch)
ch = ch.lower()
print(ch)
print(ch == 'a')

Digite a: A
A
A
a
True

.join(lista_de_strings): une as string na lista em uma string só, usando a string original como separador

In [38]:
'__'.join(['bla', 'ble', 'bli'])

'bla__ble__bli'

.replace(old, new): realiza substituições na string

In [42]:
'blablebli'.replace('bl', 'c__')

'c__ac__ec__i'

_

In [49]:
'blee' not in 'blablebli'

True

___
___

### 2.1) Formatação de strings
Até o momento, temos construidos nossos outputs passando pedaços do texto de saida no `print`. Outra possibilidade seria somar os pedaços da string para obter a string final.

In [50]:
dia = 1
mes = 2
ano = 1994
print(dia,'/', mes,'/', ano, sep='')

1/2/1994

In [51]:
saida = str(dia) + '/' + str(mes) + '/' + str(ano)
print(saida)

1/2/1994

Isso não é muito pratico, vamos ver como podemos melhorar a construção das nossas strings usando formatação de strings. 

As strings formatadas se estruturam ao redor do conceito de placeholders, lugares na string que serão substituidos por valores guardados em variaveis. Os placeholders são representados na string por `{}`

In [55]:
nome = 'Vinicius'
'Aniversario do {}: {}/{}/{}  {}'.format(nome, dia, mes, ano, 10/3)

'Aniversario do Vinicius: 1/2/1994  3.3333333333333335'

In [56]:
f'Aniversario do {nome}: {dia}/{mes}/{ano}  {10/3}'

'Aniversario do Vinicius: 1/2/1994  3.3333333333333335'

_

In [ ]:
professores = [
    ['Vinicius', 27, 'Brasileiro']
]

## 2) Dicionários

O dicionário é uma estrutura de dados que faz um mapeamento de uma chave para um valor. Um exemplo de um dicionario é uma lista telefonica. A chave, nesse caso, é o nome do contato, o valor é número de telefone. Outro exemplo de dicionario pode ser as informações de um cliente. As chaves podem ser as caracteristicas dele - nome, altura, renda, ticket médio - e os valores os valores correspondentes a cada caracteristica.  

O dicionário é definido a partir desses **dois elementos**: **chaves** e **valores**.

- A **chave** é uma string ou int (ou qualquer valor hashable) que é utilizada como se fosse um índice, identificando os respectivos valores.

- O **valor** pode ser qualquer objeto: um int, um float, uma str, um bool, uma lista, uma tupla, outro dicionário...

Dicionários são indicados **entre chaves{}**, segundo a estrutura:

```python
dicionario = {"chave": valor}
```

In [58]:
cliente = { 
    'nome': 'bob', 
    'idade': 30, 
    'ticket': 200 
}
cliente

{'nome': 'bob', 'idade': 30, 'ticket': 200}

Para acessarmos um valor no dicionario, fazemos:

In [59]:
cliente['nome']

'bob'

Para adicionarmos ou alterarmos um par chave-valor em um dicionario, fazemos

In [60]:
cliente['nome'] = 'Bob'
cliente

{'nome': 'Bob', 'idade': 30, 'ticket': 200}

In [61]:
cliente['nacionalidade'] = 'Brasileiro'
cliente

{'nome': 'Bob', 'idade': 30, 'ticket': 200, 'nacionalidade': 'Brasileiro'}

Para remover um par chave-valor, fazemos

In [62]:
del cliente['idade']
cliente

{'nome': 'Bob', 'ticket': 200, 'nacionalidade': 'Brasileiro'}

Dicionarios são iteraveis. Quando iteramos sobre ele **iteramos sobre as chaves**

In [65]:
for key in cliente:
    print(key, cliente[key])

nome Bob
ticket 200
nacionalidade Brasileiro

Por isso, quando testamos o `in` testamos se **a chave** existe no dicionario.

In [66]:
'nome'  in cliente

True

In [67]:
'Bob' in cliente

False

Se quisermos iterar sobre os pares chave-valor, podemos usar o .items()

In [68]:
for key, value in cliente.items():
    print(key, value)

nome Bob
ticket 200
nacionalidade Brasileiro

In [69]:
cliente

{'nome': 'Bob', 'ticket': 200, 'nacionalidade': 'Brasileiro'}

### Exemplo
Um dicionario com informações de uma turma

In [71]:
turma = {
    'professor': 'Alex',
    'alunos': ['Bob', 'Carlos', 'Dafne', 'Eduardo']
}

Perguntas: 
- como eu pego a informação do primeiro aluno?
- como eu substituo o nome do primeiro aluno por 'Bernardo'?

In [76]:
turma['alunos'][0]

'Bob'

In [77]:
turma['alunos'][0] = 'Bernardo'
turma

{'professor': 'Alex', 'alunos': ['Bernardo', 'Carlos', 'Dafne', 'Eduardo']}

### Exercicio
1. Crie um dicionario com as informações de um aluno: 
    - Nome 
    - Idade

2. Adicione no dicionario do aluno acima as notas da P1 e P2 em uma lista

3. Adicione a nota da P3 na lista de notas

4. Adicione um campo professores, que é um dicionario com chave sendo o nome da disciplina e o valor o nome dos professores
    - PRO221: Alberto
    - MAP123: Fernando

# A verdade sobre as variaveis!!!
http://pythontutor.com/live.html#mode=edit

# Listas aninhadas
Listas aninhadas nada mais é do que quando temos listas dentro de outras listas. Ao indexarmos a nossa lista raiz, conseguimos acessar a lista naquela posição, e podemos fazer as operações normalmente com essa lista como se tivessemos ela em uma variavel.

In [ ]:
lista = [[1,2], [3,4], 5]

## Matrizes
Matrizes é um caso particular de listas aninhadas. Usamos ela quando queremos uma estrutura de dados em forma de tabela. Assim, a nossa lista principal vai guardar listas onde cada sublista é uma linha e cada elemento da sublista se refere a posição em uma coluna (ou vice-versa).

Por exemplo, se quisermos representar uma tabela com as informações de dois clientes, no esquema a seguir:

<table>
<thead>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>P1</th>
    <th>P2</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Pedro</td>
    <td>21</td>
    <td>7</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Felipe</td>
    <td>23</td>
    <td>5</td>
    <td>8</td>
  </tr>
</tbody>
</table>

podemos representar isso como:

In [46]:
alunos = [
    ['Pedro', 21, 7, 9],
    ['Felipe', 23, 5, 8]
]

ou:

In [47]:
alunos = [
    ['Pedro', 'Felipe'],
    [21, 23],
    [7, 5],
    [9, 8]
]

Para percorrermos matrizes, podemos usar `for` aninhados:

ou os indices:

# Exercicios

## Melhor aluno
Dado a tabela acima, faça um programa que obtenha o nome do alunos de maior média. O seu programa deve ser escalavel no sentido de que a tabela poderia ter um numero bem grande de alunos

## Muitos primos
**exercicio de loops encadeados**

Faça uma função que calcula os primeiros `n` números primos.

## Multiplicação de matrizes
Faça uma programa que calcula o resultado de uma multiplicação de matrizes (representadas como lista de listas).

Por exemplo:
```python
matriz_0 = [
    [0, 2],
    [1, 2]
]

matriz_1 = [
    [6, 7],
    [0, 9]
]

# seu codigo aqui

print(resultado)
# [
#     [ 0, 18],
#     [ 6, 25]
# ]
```